@model SocialNetwork.ViewModels.Account.ChatViewModel

<meta http-equiv="refresh" content="5">
<div>
    <h3 class="center-align">Чат @Model.You с @Model.ToWhom</h3>
    
    <form method="get" asp-controller="AccountManager" asp-action="MyPage">
    <button class="enter_submit">Вернуться на домашнюю страницу</button>
    </form>

    <div class="friendbox">
        <div class="picdiv">
            <img src="@Model.You.Image" class="ava" />
            </div>
        <div class="picdiv">
            <img src="@Model.ToWhom.Image" class="ava" />
        </div>

        <div class="chatdiv">
            @if (@Model.MessagesHistory.Count != 0)
            {
                <div>
                    @foreach (var msg in @Model.MessagesHistory)
                    {
                        @if (@Model.You.Id == @msg.Sender.Id)
                        {
                            <div class="left-align">
                                <label><b>@msg.Sender.FirstName:</b></label>
                                <br />
                                <pre>@msg.Text</pre>
                            </div>
                        }
                        else
                        {
                            <div class="right-align">
                                <label><b>@msg.Sender.FirstName:</b></label>
                                <br />
                                <pre>@msg.Text</pre>
                            </div>
                        }
                    }
                </div>
            }
            else
            {
                <div>
                    <label>Ваша переписка пуста. Начните общение первым!</label>
                </div>
            }
            <div class="center">
                <label class="gray-text">Новое сообщение</label>
                <form method="post" asp-controller="AccountManager" asp-action="NewMessage" asp-route-id="@Model.ToWhom.Id">
                    @* <input type="text" asp-for="NewMessage.Text" class="form-control emojify" /> *@
                    @*Успеть ввести за 5 секунд))) До рефреша*@
                    <textarea asp-for="NewMessage.Text" class="form-control emojify"> </textarea>
                    <button class="enter_submit">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>
