@model SocialNetwork.ViewModels.Account.UserViewModel
<div>
    <h3 class="center">@Model.User.GetFullName()<br />aka @Model.User.UserName</h3>
    <div class="row">
        <div class="main">
            <!-- Тут фото и кнопка редактировать -->
            <img class="main-img" src="@Model.User.Image" />
            <div class="center">
                <form method="get" asp-controller="AccountManager" asp-action="Edit">
                    <button class="enter_submit">Редактировать</button>
                </form>
            </div>
        </div>
        <div class="side">
            <!-- Тут данные пользователя -->
            <div>
                <div>
                    <label class="text-color-gray">Статус: </label>
                    <label>@Model.User.Status</label>
                </div>

                <div>
                    <label class="text-color-gray">Дата рождения: </label>
                    <label>@Model.User.BirthDate.ToLongDateString()</label>
                </div>

                <div>
                    <label class="text-color-gray">О себе: </label>
                    <label>@Model.User.About</label>
                </div>

                <div>
                    <label class="text-color-gray">Email: </label>
                    <label>@Model.User.Email</label>
                </div>

                <div>
                    <label class="text-color-gray">Ник: </label>
                    <label>@Model.User.UserName</label>
                </div>
            </div>

            <br />
            <div class="lined-block friendcontainer">
                <label class="text-color-gray">Список друзей</label>

                <div class="friendbox">
                    @if (Model.Friends.Count != 0)
                    {
                        @foreach (var friend in @Model.Friends)
                        {
                            <div class="datadiv">
                                <div class="align-div">
                                    <div class="mrgn center-align">
                                        <img src="@friend.Image" class="ava" />
                                    </div>
                                    <div class="mrgn center-align datadiv">
                                        <label class="friendbox datadiv datalabel">@friend.GetFullName()</label>
                                        <br />
                                        <label class="small">(@friend.UserName)</label>
                                    </div>
                                </div>
                                <div class="mrgn center-align">
                                    <form asp-controller="AccountManager" asp-action="Chat" asp-route-id="@friend.Id" method="post">
                                        <button type="submit" class="btn btn-sm btn-primary min-width-but">
                                            Чат
                                        </button>
                                    </form>
                                </div>

                                <div class="mrgn center-align">
                                    <form asp-controller="AccountManager" asp-action="DeleteFriend" asp-route-id="@friend.Id" method="post">
                                        <button type="submit" class="btn btn-sm btn-primary min-width-but">
                                            Удалить из друзей
                                        </button>
                                    </form>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div>
                            <label> У вас пока нет друзей.</label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>