@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "User";
}

@model SocialNetwork.ViewModels.Account.UserViewModel

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
<div>
    <h3 class="center">@Model.User.GetFullName()<br />aka @Model.User.UserName</h3>
    <div class="row">
        <div class="main">
            <!-- Тут фото и кнопка редактировать -->
            <img class="main-img" src="@Model.User.Image" />
            <div class="center">
                <button class="enter_submit">Редактировать</button>
            </div>
        </div>
        <div class="side">
            <!-- Тут данные пользователя -->
            <div>
                <div>
                    <label class="text-color-gray">Статус: </label>
                    <label>@Model.User.Status</label>
                </div>

                <div>
                    <label class="text-color-gray">Дата рождения: </label>
                    <label>@Model.User.BirthDate.ToLongDateString()</label>
                </div>

                <div>
                    <label class="text-color-gray">О себе: </label>
                    <label>@Model.User.About</label>
                </div>

                <div>
                    <label class="text-color-gray">Email: </label>
                    <label>@Model.User.Email</label>
                </div>

                <div>
                    <label class="text-color-gray">Ник: </label>
                    <label>@Model.User.UserName</label>
                </div>
            </div>

            <br />
            <div>
                <label class="text-color-gray">Список друзей</label>
            </div>
        </div>
    </div>
</div>